<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ projectName }}</title>
		<meta name="description" content="{{ description }}">
		<link rel="stylesheet" href="{{ rootPath }}styles/main.css{{ version }}">
	</head>
	<body>
		<main class="page">
		<h1 class="visually-hidden">АЛЛОДЫ онлайн</h1>
			<section class="first-section">
				<div class="first-section__container container">
					<img src="images/logo.webp" alt="Логотип игры АЛЛОДЫ онлайн" width="276" height="206" class="logo-image">
					<img src="images/boxes.webp" alt="Фотография коллекционные издания" width="766" height="525" class="boxes-image">
					<h2 class="first-section__title">Коллекционные издания</h2>
					<p class="first-section__subtitle">Побеждайте легко, побеждайте стильно с новыми коллекционными изданиями «Аллодов Онлайн»!</p>
				</div>
			</section>
			<section class="second-section">
				<div class="second-section__container container">
					<img src="images/vito.webp" width="441" height="891" alt="Картинка помощник Вито">
					<div class="right-side-content">
						<h2 class="right-side-content__title">Набор «посылка с контрабандой»</h2>
						<ul class="prize-list">
							<li class="prize-list__item prize-list__item--title">
								<span class="prize-list__title">Бесплатные сервера</span>
								<span class="prize-list__title prize-list__title--second">Подписочный сервер</span>
							</li>
							<li class="prize-list__item"><img class="prize-list__image" width="64" height="64" src="images/clock.svg" alt="Иконка часы"><span class="prize-list__description">Игровое время</span>
								<span class="prize-list__scope">-</span>
								<span class="prize-list__scope">30 дней</span>
							</li>
							<li class="prize-list__item"><img class="prize-list__image" width="64" height="64" src="images/toolbox.svg" alt="Иконка коробка"><span class="prize-list__description">Запечатанный набор инструментов</span>
								<span class="prize-list__scope">1</span>
								<span class="prize-list__scope">1</span>
							</li>
							<li class="prize-list__item"><img class="prize-list__image" width="64" height="64" src="images/rock.svg" alt="Иконка коробка"><span class="prize-list__description">Хрупкая чистая руна 10-й ступени</span>
								<span class="prize-list__scope">1</span>
								<span class="prize-list__scope">-</span>
							</li>
							<li class="prize-list__item"><img class="prize-list__image" width="64" height="64" src="images/bigsymbol.svg" alt="Иконка коробка"><span class="prize-list__description">Большой символ изобилия творца</span>
								<span class="prize-list__scope">10</span>
								<span class="prize-list__scope">-</span>
							</li>
							<li class="prize-list__item"><img class="prize-list__image" width="64" height="64" src="images/battery.svg" alt="Иконка коробка"><span class="prize-list__description">Мана-батарея</span>
								<span class="prize-list__scope">-</span>
								<span class="prize-list__scope">20</span>
							</li>
							<li class="prize-list__item"><img class="prize-list__image" width="64" height="64" src="images/memmory.svg" alt="Иконка коробка"><span class="prize-list__description">Модуль памяти</span>
								<span class="prize-list__scope">-</span>
								<span class="prize-list__scope">10</span>
							</li>
							<li class="prize-list__item"><img class="prize-list__image" width="64" height="64" src="images/vito.svg" alt="Иконка коробка"><span class="prize-list__description">Помощник Вито</span>
								<span class="prize-list__scope">1</span>
								<span class="prize-list__scope">1</span>
							</li>
						</ul>
						<div class="by-container">
							<img class="by-container__image" src="images/box.webp" width="221" height="281" alt="Картинка колекционное издание">
							<div class="by-container__button-wrapper">
								<span class="by-container__price">399 ₽</span>
								<button class="by-container__button" type="button">Приобрести</button>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		<script>
			window.appData = {{ appData|json_encode() }};
		</script>
		<script src="{{ rootPath }}scripts/main.js{{ version }}"></script>

		{% if isDev %}
			<script>
				window.pixelperfect = {{ pixelperfect }};
			</script>
			<script src="https://efiand.github.io/pixelperfect-tool/pixelperfect.min.js"></script>
		{% endif %}
	</body>
</html>
